<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 style="margin-bottom: 20px">
    <%= @project.title %>
  </h1>
  <div class="bg-secondary">
    <strong class="text-white">
      <%= @project.description %>
    </strong>
  </div>
</div>

<%= button_to 'Edit', edit_project_path(@project) %>
<%= button_to 'Back', projects_path, :method => "get" %>